body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-image-wrapper {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.nav-image-wrapper img {
    width: auto;
    height: 30px;
}

.code-image-large-screen {
    display: none;
}

.nav-image-separator {
    height: 30px;
    width: 1px;
    margin: 0 20px;
    display: inline-block;
    background-color: lightgray;
}

.nav-follow {
    text-decoration: none;
    color: lightgray;
}

.nav-follow:hover {
    color: black;
}

.nav-auth {
    color: #34a474;
    margin-left: 10px;
}

.published-in {
    display: inline-block;
    font-size: .8em;
    color: gray;
    margin-left: 8px;
}

.wrapper {
    width: 95%;
    margin: 30px auto;
}

.author-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    color: gray;
}

.author-image-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.author-image-container img {
    width: auto;
    height: 60px;
}

.author-info-text {
}

.author-info-text p {
    margin-top: 8px;
    font-size: .8em;
}

.author-name {
    margin: 0;
    font-size: .8em;
}

.author-info-first-line {
    margin-bottom: 8px;
}

@media( min-width: 780px ) {
    .code-image-large-screen {
        display: block;
    }

    .code-image-small-screen, .nav-image-separator {
        display: none;
    }

    .wrapper {
        width: 80%;
    }

    .author-info {
        justify-content: flex-start;
    }

    .author-info-text {
        padding-left: 15px;
    }
}